{% extends 'base.html' %}

{% block title %}
    Confirmar eliminacion
{% endblock %}

{% block content %}

    
<div class="form-control w-50 position-relative top-10 mx-auto" style="padding-top: 6em; padding-bottom: 7em;">
    <h2>Borrar elemento {{object.title}} - <img src="{{object.image.url}}" width="50px" height="50px"></h2>
        <h4>Seguro que desea eliminarlo?</h4>
            <form action="" method="POST">
            {% csrf_token %}
                <input type="submit" value="Borrar" class="btn btn-danger">
                <a href="/product_coaching/controlpanel-product_coaching" class="btn btn-info">Cancelar</a>
            </form>
</div>
     

{% endblock %}

