{% extends "base.html" %}

{% block title %}
  Inicio
{% endblock %}

{% block content %}
<div class="container">
    <div class="row mt-5 p-5 text-center background-image">
      <h4 class="about" style="opacity: 1;">
        Bienvenido a B-GAMES, la empresa líder en el mercado de venta de cuentas y servicios de coaching en videojuegos. Nuestra misión es ayudar a nuestros clientes a mejorar sus habilidades en sus juegos favoritos y alcanzar su máximo potencial. Ofrecemos cuentas de juego de alto nivel a precios accesibles, así como sesiones de coaching personalizadas con expertos en el juego. Nuestro equipo está compuesto por jugadores profesionales y entrenadores experimentados que brindan asesoramiento y estrategias efectivas para ayudar a nuestros clientes a mejorar sus habilidades y a tener más éxito en sus juegos. ¡Únete a nosotros hoy y comienza a mejorar tu juego!
      </h4>
    </div>
</div>

 

{% endblock %}

