{% extends "base.html" %}

{% block title %}
  CUENTAS
{% endblock %}

{% block content %}


  <div class="container p-0">
    

    <div class="row d-flex justify-content-center" style="padding-top: 6em; padding-bottom: 7em;">
      <h1 class="text-center">CUENTAS A LA VENTA</h1>

    
    {% for product in product_account %}

        <div class="col-lg-3 text-center p-3 m-2" style="border: solid black .5px; background-color: gainsboro;">
          {% if service.service_picture.url != '' %}
                <img src="{{product.image.url}}" class="img-fluid rounded mx-auto" style="width: auto; height: 200px;">
            {% endif %}
        <div class="">
          <h5 class="card-title">{{product.title}}</h5>
  
          <p class="card-text">Descripción: {{product.description}}</p>
  
          <p class="card-text">Precio ${{product.price}}</p>
          
          <a href="#" class="btn btn-primary">Comprar</a>

        </div>
      </div>
        
    {% endfor %}
    </div>
  </div>

    {% endblock %}



     
          
    
